body{
    background-color: black;
}
section{
    text-align: left;
    justify-content: center;
}
#todo-list>li{
    width: 75%;
    padding: 15px;
    margin-top: 10px;
    border: 2px solid transparent;
    background-color: white;
    text-align: left;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
section{
    text-align: left;
    justify-content: space-between;
    width: 100%;
    border: 2px solid white;
}
section>input{
    width: 70%;
    padding: 15px;
    border: 0px solid transparent;
    outline: none;
    text-align: center;
    margin-left: 45px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
section>button{
    padding: 15px;
    width: 20%;
    border: 0px solid transparent;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-left: 50px;
    margin-top: 15px;
}
section>h1{
    text-align: center;
    padding: 25px;
    color: white;
    font-size: larger;
    font-weight: 150px;
}
